# Ignore compiled Python
**/*.pyc
**/__pycache__/

# Ignore Python virtualenv
**/slamnotesenv/

# Ignore PyCharm project details
.idea/

# Local migrations
slamnotes/migrations/

# Static files created with collectstatic
templates/static/
