/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e1e1e1;
}

.footer-container,
.main aside {
    border-top: 20px solid #e1e1e1;
}

.header-container,
.footer-container,
.main aside {
    background: #f2f2f2;
}

.title {
    color: #222;
    margin: 5px 0;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a, nav a:visited {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: #222;
    background: #e1e1e1;
}

nav a:hover {
    color: #444;
}

nav a:hover {
    text-decoration: none;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
    min-height: calc(100vh - 274px);
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: #222;
    padding: 0 5% 10px;
}

.footer-container footer {
    color: #222;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body.full-height {
    overflow: hidden;
}

.full-height > .header-container {
    -webkit-box-shadow: 0 1px 2px rgba(170, 170, 170, 0.70);
    -moz-box-shadow: 0 1px 2px rgba(170, 170, 170, 0.70);
    box-shadow: 0 1px 2px rgba(170, 170, 170, 0.70);
    border-bottom-width: 3px;
    height: 48px;
    position: relative;
    z-index: 1;
}

.full-height .header-container .title {
    font-size: 1.5rem;
}

.full-height .header-container .wrapper {
    max-width: 100%;
    margin-left: 252px;
}

.full-height > .main-container {
    height: calc(100vh - 51px);
    margin-left: 232px;
    overflow-y: scroll;
}

.full-height .main {
    min-height: inherit;
}

.full-height .login-required {
    margin: 0 auto 20px;
    padding: 10px 5%;

    text-align: center;
}

.full-height .note, .full-height .main-container form {
    max-width: 500px;
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: none;
    padding: 10px 5%;
    position: relative;
    margin: 0 auto 20px;

    border: 1px solid #f7ecbe;
    background-color: #ffffd6;
}

.note:focus, .full-height .main-container form:focus {
    box-shadow: 0 0 12px rgba(150, 150, 150, 0.2);
    outline: none;
}

.note-date, .note-author, .note-comments {
    display: block;
    float: left;

    color: rgba(0,0,0, 0.5);
    font-size: 0.9em;
    font-style: italic;
}
.note-comments {
    float: right;
}

.note-actions {
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    text-align: right;
    padding: 2px 2px 0 0;
    width: 100%;

    font-size: 1.4rem;
}

.note-actions a, .note-actions a:link, .note-actions a:visited {
    max-height: 0;

    color: rgba(0,0,0, 0.4);
    padding: 0 7px;
    opacity: 0.0;
    overflow: hidden;
    text-decoration: none;

    -webkit-transition: color 0.2s, opacity 0.2s, padding 0.2s step-end, max-height 0.2s step-end;
    -moz-transition: color 0.2s, opacity 0.2s, padding 0.2s step-end, max-height 0.2s step-end;
    -ms-transition: color 0.2s, opacity 0.2s, padding 0.2s step-end, max-height 0.2s step-end;
    -o-transition: color 0.2s, opacity 0.2s, padding 0.2s step-end, max-height 0.2s step-end;
    transition: color 0.2s, opacity 0.2s, padding 0.2s step-end, max-height 0.2s step-end;
}
.note:hover .note-actions a, .note:focus .note-actions a, .note .note-actions a:focus {
    max-height: 2em; /* FIXME: kinda hacky, probably better to do with jQuery */
    opacity: 1.0;
    padding: 7px;

    /* if cool sliding effect is wanted, mess with padding's transition time and remove padding's step-ends */
    -webkit-transition: color 0.2s, opacity 0.2s, padding 1ms 0s step-end, max-height 1ms 0s step-end;
    -moz-transition: color 0.2s, opacity 0.2s, padding 1ms 0s step-end, max-height 1ms 0s step-end;
    -ms-transition: color 0.2s, opacity 0.2s, padding 1ms 0s step-end, max-height 1ms 0s step-end;
    -o-transition: color 0.2s, opacity 0.2s, padding 1ms 0s step-end, max-height 1ms 0s step-end;
    transition: color 0.2s, opacity 0.2s, padding 1ms 0s step-end, max-height 1ms 0s step-end;
}
.note-actions a:hover, .note-actions a:active {
    color: rgba(0,0,0, 0.7);
}

.note-actions a:hover.note-delete, .note-actions a:active.note-delete {
    color: rgba(255, 0, 0, 0.7);
}

.full-height > .footer-container {
    -webkit-box-shadow: 0 -1px 2px rgba(170, 170, 170, 0.70);
    -moz-box-shadow: 0 -1px 2px rgba(170, 170, 170, 0.70);
    box-shadow: 0 -1px 2px rgba(170, 170, 170, 0.70);
    border-top-width: 10px;
    height: 102px;
    text-align: center;
}

.full-height .footer-container footer {
    color: inherit;
    padding: 0;
}

#note-form {
    text-align: right;
}

.full-height .main-container textarea {
    min-height: 85px;
    width: 100%;

    border: none;
    margin-bottom: 7px;
    outline: none;
    resize: none;

    background: none;
    color: rgba(0,0,0, 0.5);

    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.full-height .main-container textarea:focus {
    color: black;
    resize: vertical;
}

.full-height .main-container textarea:required {
    box-shadow: none;
}

.full-height .main-container input[type=submit] {
    border: none;
    padding: 6px 12px;

    background-color: #f7ecbe;
    color: #333;
}

form#create-account-form {
}

form#login-form {
}

/* ==========================================================================
   Channel Sidebar
   ========================================================================== */

.sidebar-container {
    position: fixed;
    height: 100vh;
    z-index: 1;
    width: 232px;
    background: #415568;
    top: 0;
    box-shadow: 0 -1px 2px rgba(170, 170, 170, 0.70);
    color: white;
    font-family: Segoe UI Light, sans-serif;
}
.sidebar-container h2 {
    font-size: 17px;
    padding: 14px 0 20px 10px;
    cursor: pointer;
    height: 24px;
    overflow: hidden;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.courses {
    border-bottom: 2px solid #6f8898;
    margin-right: 10px;
}

.courses > h2 {
    display: block;
    padding-right: 20px;
    position: relative;
}
.courses > h2::after {
    position: absolute;
    right: 0;

    color: #6f8898;
    content: '▼';
}
.courses:hover > h2::after {
    content: '✕';
}

.courses > * > h2 {
    display: none;
    padding: 0 20px 20px 10px;
}
.courses:hover > h2 {
    border-bottom:none;
}
.courses:hover > * > h2 {
    display: block;
}

.courses-other {
    position: absolute;
    background-color: #415568;
    width: 100%;
}

.courses:hover .courses-other {
    height: 100vh;
}

h2.courses-add::before {
    content: '+';
    color: white;
    margin-right: 6px;
}

.session-list {
  height: calc(100vh - 108px);
  overflow-y: hidden;
}
.session-list:hover {
    overflow-y: scroll;
}

.class-title {
    padding: 10px 0 10px 10px;
    margin: 0 10px 0 0;
    font-size: 13px;
    border-bottom: 2px solid #6f8898;
    font-family: Segoe UI, sans-serif;
    font-weight: 600;
    color: #DDD;
}

.session-list h3 {
  padding: 5px 0 5px 10px;
  font-size: 16px;
  margin: 5px 10px 5px 0;
  color: #DDD;
  font-family: Segoe UI, sans-serif;
  font-weight: 100;
}

.session-list:hover h3 {
    margin-right: 0;
}

.session-list .viewing {
    color: white;
    background-color: #7591e1;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7% 0;
        padding: 25px 2%;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

    .full-height .wrapper {
        width: 868px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix::before,
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}