{% load static from staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Software Engineering - Slam eNotes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

        <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}?1478204657">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>
    <body class="full-height">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">
                    <a href="{% url 'index' %}"><img src="{% static 'images/logo-short.png' %}" alt="Slam eNotes" height="38" /></a>
                </h1>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">
                {% if user.is_authenticated %}
                <form id="note-form" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p>
                        <input type="submit" value="Post">
                    </p>
                </form>
                {% else %}
                <p class="login-required">
                    You must be <a href="{% url 'index' %}#login-form">logged in</a> to post notes.
                </p>
                {% endif %}

                {% now "Y" as current_year %}
                {% now "M d, Y" as current_date %}
                <div id="results">
                    {% for note in notes %} {# Display all notes. #}
                    <article id="note-{{ note.id }}" tabindex="0" class="note">
                        <div class="note-body"><p>{{ note.body_text }}</p></div> {# Display note text. #}
                        <p class="note-meta clearfix">
                            {% if user.is_authenticated %}
                                {% if note.author == user %}
                            <span class="note-author">You,&nbsp;</span>
                                {% else %}
                            <span class="note-author">{{ note.author.email }},&nbsp;</span> {# Display note author's email for logged-in users. #}
                                {% endif %}
                            {% endif %}
                            <span class="note-date"> {# Display note created date. #}
                                {% with cd=note.created_date %}
                                <time datetime="{{ cd|date:"c" }}">
                                    {% if cd|date:"M d, Y" == current_date %}
                                        {{ cd|timesince }}
                                    {% else %} {# Intentionally ugly here to avoid whitespace between day and potential comma. #}
                                        {{ cd|date:"M d" }}{% if cd|date:"Y" != current_year %}{{ cd|date:", Y" }}{% endif %}
                                    {% endif %}
                                </time>
                                {% endwith %}
                            </span>
                            <span class="note-comments">0 comments</span>
                            {% if user.is_authenticated %}
                            <span class="note-actions">
                                {% if note.author == user %} {# Show the edit/delete buttons to the author #}
                                <a class="note-edit fa fa-pencil" href="#" role="button" aria-label="edit"></a><a class="note-delete fa fa-trash" href="{% url 'ajax' %}?action=delete&note={{ note.id }}" role="button" aria-label="delete"></a>
                                {% endif %}
                            </span>
                            {% endif %}
                        </p>
                    </article>
                    {% endfor %}
                </div>
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <aside class="sidebar-container">
            <div id="courses">
                <h2 id="courses-menu-toggle">CS 3398.002 - Software Engineering</h2>
                <div class="courses-other">
                    <h2 id="courses-add">Add new class</h2>
                </div>
            </div>
            <h3 class="class-title">CLASS SESSIONS</h3>
            <div class="session-list">
                <h3 class="viewing">All Sessions</h3>
            </div>
            <a id="collapse-menu" class="fa fa-chevron-circle-left" href="#">Collapse Menu</a>
            <a id="expand-menu" class="fa fa-chevron-circle-right" href="#">Expand Menu</a>
        </aside>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>
        <script src="{% static 'js/vendor/jquery.ns-autogrow.min.js' %}"></script>

        <script src="{% static 'js/main.js' %}"></script>
        <script>
            $('#id_body_text').autogrow({vertical: true, horizontal: false, flickering: false});
            $("#courses-menu-toggle").click(function() {$("#courses").toggleClass('courses-menu-open');});
            $("#collapse-menu").click(function() {$(document.body).toggleClass('menu-closed');});
            $("#expand-menu").click(function() {$(document.body).toggleClass('menu-closed');});

            ajax_url = "{% url 'ajax' %}";

            var user = new Object();
            user.is_authenticated = {% if user.is_authenticated %}true;
            user.email = "{{ user.email }}";{% else %}false;{% endif %}

            function ajaxLiveUpdate() {
                $.ajax({
                    url: '{% url 'ajax' %}?action=load&channel=1&session=all',
                    success: function(notes) {
                        $('#results').html("");
                        for (var i in notes) {
                            outputNote(notes[i]);
                        }
                        applyNoteActions();
                        commonmarkParse();
                    },
                    complete: function() {
                        // Schedule the next request in 5 seconds
                        setTimeout(ajaxLiveUpdate, 5 * 1000);
                    }
                });
            }
            function ajaxSingleUpdate(action) {
                $.ajax({
                    url: '{% url 'ajax' %}?action=load&channel=1&session=all',
                    success: function(notes) {
                        $('#results').html("");
                        for (var i in notes) {
                            outputNote(notes[i]);
                        }
                        applyNoteActions();
                        commonmarkParse();
                    }
                });
            }

            function ajaxDeleteNote(href, id) {
                $.ajax({
                    url: href + "?action=delete&note=" + id,
                    success: function() {ajaxSingleUpdate();}
                });
            }
            function applyNoteActions () {
                $(".note-delete").click( function(event){
                    event.preventDefault();
                    ajaxDeleteNote($(this).prop("href"), $(this).parent().parent().parent().prop("id").substring(5));
                    // FIXME parent parent parent, really? please fix this...
                });
            }
            function commonmarkParse () {
                $(".note-body").each(function(i, obj) {
                    var reader = new commonmark.Parser();
                    var writer = new commonmark.HtmlRenderer({smart: true, safe: true});
                    var parsed = reader.parse($(this).text());
                    $(this).html(writer.render(parsed));
                });
            }
            applyNoteActions();
        </script>
        <script src="{% static 'js/channel.js' %}" onload="setTimeout(ajaxLiveUpdate, 5 * 1000)"></script>
        <script src="{% static 'js/vendor/commonmark.js' %}" onload="commonmarkParse()"></script>
    </body>
</html>
